body {
    background: linear-gradient(to right, #551A8B, #301934);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box; /* 추가 */
}

.container {
    flex: 1;
}

.highlight {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.horizontal-section div {
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

footer {
    background: #000;
    width: 100vw; /* 화면 가로 길이로 설정 */
    padding: 20px 0;
    border-top: 1px solid white; /* 흰색 줄 추가 */
    box-sizing: border-box; /* 추가 */
    position: relative; /* 추가 */
    left: 50%; /* 추가 */
    right: 50%; /* 추가 */
    margin-left: -50vw; /* 추가 */
    margin-right: -50vw; /* 추가 */
}

.footer .container {
    max-width: 1200px; /* 원하는 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* 모바일에서의 줄바꿈을 위해 추가 */
}

.footer-left, .footer-right {
    width: 45%;
}

.footer-left p {
    margin: 0;
    padding: 0;
    text-align: left; /* 좌측 정렬 */
}

.footer-right p {
    margin: 0;
    padding: 0;
    text-align: center; /* 중앙 정렬 */
}

.stars {
    margin-top: 20px;
    text-align: center; /* 별 아이콘을 중앙에 배치 */
}

.stars i {
    color: gold;
    font-size: 18px; /* 폰트 크기를 줄임 */
    margin: 0 -2px; /* 아이콘 간의 간격을 줄임 */
}

.footer-left h2, .footer-right h2 {
    font-size: 1.5rem; /* 제목 크기 조정 */
    font-weight: bold; /* 볼드체 설정 */
    margin-bottom: 10px; /* 제목과 내용 사이 간격 조정 */
    text-align: center; /* 중앙 정렬 */
}

/* 모바일 뷰 조정 */
@media (max-width: 768px) {
    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .buttons .btn {
        flex: 1 1 30%; /* 버튼이 가로로 3개씩 배치되도록 설정 */
        margin: 5px;
    }

    .footer-left, .footer-right {
        width: 100%;
        text-align: center;
    }

    .footer-left h2, .footer-left p {
        text-align: center;
    }

    .footer-right h2, .footer-right p {
        text-align: center;
    }
}

/* 데스크탑 뷰 조정 */
@media (min-width: 769px) {
    .footer .container {
        display: flex;
        justify-content: space-between;
    }

    .footer-left {
        text-align: left; /* 좌측 정렬 */
    }

    .footer-right {
        text-align: center;
    }
}
